langchain-tavily
langchain-groq
fastapi
httpx
uvicorn
langchain-core
langchain_community
langchain_classic
langchain_text_splitters
sqlalchemy
pydantic
argon2-cffi
python-jose
requests
langchain-google-genai
asyncpg
pydantic[email]
pinecone
langchain-pinecone
python-multipart
apscheduler
pypdf